<template>
    <div class="company-detail">
        <img class="close-icon" src="../assets/img/close.svg" @click="closePreview"/>
        <div class="infos">
            <span class="brand">{{ brand }}</span>
        </div>
        <div class="infos">
            <span>{{ address }}</span>
        </div>
        <div class="infos">
            <div class="line">
                <label>SIREN</label><span>{{ siren }}</span>
            </div>
            <div class="line">
                <label>SIRET</label><span>{{ siret }}</span>
            </div>
            <div class="line">
                <label>Activité</label><span>{{ activity }}</span>
            </div>
            <div class="line">
                <label>Nature juridique</label><span>{{ legal_status }}</span>
            </div>
        </div>
        <div class="infos">
            <div class="line">
                <span>Créée le {{ creation }}</span>
            </div>
            <div class="line" v-if="update">
                <span>Mise à jour le {{ update }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    name: "CompanyDetail",
    props: {
        company: Object
    },
    data: function() {
        return {
            brand: this.company.nom_raison_sociale,
            activity: this.company.activite_principale + " - " + this.company.libelle_activite_principale ?? "Activité inconnue",
            siret: this.company.siret,
            siren: this.company.siren,
            address: this.company.geo_adresse ?? "Adresse non renseignée",
            legal_status: this.company.libelle_nature_juridique_entreprise,
            creation: moment(this.company.date_creation_entreprise).format("DD/MM/YYYY"),
            update: moment(this.company.date_mise_a_jour).format("DD/MM/YYYY") ?? false
        }
    },
    methods: {
        closePreview: function () {
            this.$emit("closePreview");
        }
    }
};
</script>

<style lang="scss" scoped>
.company-detail {
    position: relative;
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 15px;

    .infos {
        margin-bottom: 20px;    
        .brand {
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        .line {
            label { 
                font-weight: 700;
                margin-right: 10px;
            }
        }
    }

    .close-icon {
        position: absolute;
        width: 10px;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }

}
</style>
