<template>
    <ul class="pagination justify-content-center">
        <li v-bind:class="[currentPage === 1 ? 'disabled' : '', 'page-item']">
            <span
                class="page-link"
                aria-label="Previous"
                @click="changePage(currentPage - 1)"
                >&laquo;
            </span>
        </li>
        <li class="page-item" v-if="currentPage > (paginationLength / 2) + 1">
            <span class="page-link" @click="changePage(1)">1</span>
        </li>
        <li class="page-item" v-if="currentPage > (paginationLength / 2) + 1">
            <span class="page-link disabled">...</span>
        </li>
        <li v-bind:class="[page === currentPage ? 'active' : '', 'page-item']" v-for="page in availablePages" :key="page">
            <span class="page-link" @click="changePage(page)">{{ page }}</span>
        </li>
        <li class="page-item" v-if="currentPage + (paginationLength / 2) + 1 <= totalPages">
            <span class="page-link disabled">...</span>
        </li>
        <li v-bind:class="[totalPages === currentPage ? 'active' : '', 'page-item']" v-if="totalPages > paginationLength">
            <span class="page-link" @click="changePage(totalPages)">{{
                totalPages
            }}</span>
        </li>
        <li v-bind:class="[currentPage === totalPages ? 'disabled' : '', 'page-item']">
            <span
                class="page-link"
                aria-label="Next"
                @click="changePage(currentPage + 1)"
                >&raquo;</span
            >
        </li>
    </ul>
</template>

<script>
export default {
    name: "Pagination",
    props: {
        totalPages: Number,
        indexPage: Number
    },
    data: function () {
        return {
            currentPage: this.indexPage,
            paginationLength: 10,
            availablePages: [],
        };
    },
    beforeMount() {
        this.availablePages = this.initAvailablePages();
    },
    methods: {
        changePage: function (page) {
            this.currentPage = page;
            this.$emit("changePage", this.currentPage);
        },
        initAvailablePages: function () {
            // If all available pages are less than our page size, in this case less than 10,
            // display all available page without overflow
            if (this.totalPages < this.paginationLength) {
                return [...Array(this.totalPages).keys()].map((i) => i + 1);

            // If current page is 6 or less (~current half of pagination length)
            // display first 10 pages without overflow
            // like 1 2 3 4 5 *6* 7 8 9 10
            } else if (this.currentPage <= (this.paginationLength / 2)) {
                return [...Array(this.paginationLength).keys()].map((i) => i + 1);

            // If current page is greater than 6 (~current half of pagination length)
            // display pages with overflow at the beginning and at the end
            // like ... 5 6 7 8 9 *10* 11 12 13 14 ...
            } else if (this.currentPage < this.totalPages - (this.paginationLength / 2) + 1) {
                let initTotalPages = [];
                for (let i = this.currentPage - (this.paginationLength / 2); i <= this.currentPage + (this.paginationLength / 2) - 1; i++) {
                    initTotalPages.push(i);
                }
                return initTotalPages;

            // If current page is greater than 6 again (~current half of pagination length)
            // and near the last page (last page - 5)
            // display pages with overflow at the beginning
            // like ... 31 32 33 34 35 *36* 37 38 39 40 41
            } else {
                let initTotalPages = [];
                for (let i = this.totalPages - (this.paginationLength); i < this.totalPages; i++) {
                    initTotalPages.push(i);
                }
                return initTotalPages;
            }
        }
    },
};
</script>

<style lang="scss" scoped>
.pagination {
    flex-wrap: wrap;
    .page-item {
        margin-bottom: 5px;
        .page-link {
            cursor: pointer;
        }
    }
}
</style>
