<template>
    <div class="result row">
        <div v-bind:class="[activePreview ? 'col-lg-12 active-preview' : 'col-lg-4', 'col-12 infos']">
            <span class="brand">{{ brand }}</span>
            <span>{{ activity }}</span>
        </div>
        <div v-bind:class="[activePreview ? 'col-lg-8 active-preview' : 'col-lg-4', 'col-12 infos']">
            <span>Siret : {{ siret }}</span>
            <span>{{ address }}</span>
        </div>
        <div class="col-12 col-lg-4 btn-block">
            <button v-bind:class="[activePreview && activePreview.id === result.id ? 'btn-secondary' : 'btn-outline-secondary', 'btn']" @click="companyDetails">Voir en détail</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "Result",
    props: {
        result: Object,
        activePreview: Object
    },
    data: function() {
        return {
            brand: this.result.nom_raison_sociale,
            activity: this.result.libelle_activite_principale ?? "Activité inconnue",
            siret: this.result.siret,
            address: this.result.geo_adresse ?? "Adresse non renseignée"
        }
    },
    methods: {
        companyDetails: function() {
            this.$emit('companyDetails', this.result);
        }
    }
};
</script>

<style lang="scss" scoped>
.result {
    background-color: #fff;
    padding: 30px 0;
    margin-bottom: 20px;
    border-radius: 15px;

    .infos {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5%;

        span {
            display: block;
        }
    
        .brand {
            font-weight: 600;
        }
    
        .active-preview {
            text-align: left;
            padding-left: 30px;
            .brand {
                margin-bottom: 10px;
            }
        }
    }

    .btn-block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
</style>
