<template>
    <div class="results">
        <div class="container">
            <div class="row justify-content-between">
                <div v-bind:class="[preview ? 'col-12 col-lg-6' : 'col-12']">
                    <div class="row" v-if="results">
                        <div class="col-12 col-sm-6">
                            <span class="total-results" v-if="results.total_results == 1">{{ results.total_results }} résultat trouvé</span>
                            <span class="total-results" v-if="results.total_results > 1">{{ results.total_results }} résultats trouvés</span>
                        </div>
                        <div class="col-12 col-sm-6 select-per-page">
                            <select class="form-select form-select-sm" v-model="defaultOption" @change="updateNbPerPage($event)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                            <span class="nb-per-page col-6">éléments par page</span>
                        </div>
                    </div>
                    <ul v-if="results">
                        <li v-for="company in results.companies" :key="company.id">
                            <Result :result="company" :activePreview="preview" @companyDetails="openDetails"/>
                        </li>
                    </ul>
                    <Pagination v-if="results && results.total_pages > 1" :indexPage="currentPage" :totalPages="results.total_pages" @changePage="changePage"/>
                </div>
                <div class="col-12 col-lg-5 details" v-if="preview">
                    <CompanyDetails :company="preview" :key="preview.id" @closePreview="preview = null"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Result from "./Result.vue";
import Pagination from "./Pagination.vue";
import CompanyDetails from "./CompanyDetails.vue";

export default {
    name: "ResultsList",
    components: {
        Result,
        Pagination,
        CompanyDetails
    },
    props: {
        results: Object,
        nbPerPage: Number,
        currentPage: Number
    },
    data: function() {
        return {
            barPlaceholder: "Nom de l'entreprise",
            defaultOption: this.nbPerPage,
            preview: null
        }
    },
    methods: {
        updateNbPerPage: function (event) {
            this.$emit('updateNbPerPage', parseInt(event.target.value));         
        },
        openDetails: function (value) {
            this.preview = value;
            window.scrollTo(0,0);
        },
        changePage: function (value) {
            this.$emit("changePage", value);
        }
    }
};
</script>

<style lang="scss" scoped>
.results {
    background-color: #f7f6f9;
    padding: 50px 0;
    text-align: left;
    position: relative;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }

    .select-per-page {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        select {
            width: 80px;
            margin-right: 20px;
        }

        span {
            width: 140px;
        }
    }

    .details {
        margin: 50px 0;
        padding: 0;
    }

    .pagination {
        margin-top: 50px;
    }

}

@media (max-width: 576px) { 
    .select-per-page {
        justify-content: flex-start !important;
        margin-top: 20px;
    }
}

@media (max-width: 960px) { 
    .details {
        order: -1;
    }
}
</style>
