<template>
    <form class="search container" @submit.prevent="processForm">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="bar">
                    <input class="form-control form-control-lg" name="search" type="text" :placeholder="barPlaceholder" v-model="search"/>
                </div>
                <div class="search-type">
                    <label>Rechercher par</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="nameRadio" value="name" @change="searchTypeChange($event)" v-model="searchType" checked>
                        <label class="form-check-label" for="nameRadio">
                            Nom de l'entreprise
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="siretRadio" value="siret" @change="searchTypeChange($event)" v-model="searchType">
                        <label class="form-check-label" for="siretRadio">
                            Numéro Siret
                        </label>
                    </div>
                </div>
                <div class="error-validation" v-for="error in errors" :key="error.message">
                    <span>{{ error.message }}</span>
                </div>
            </div>
            <div class="search-btn col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    name: "SearchBar",
    data: () => ({
        search: "",
        searchType: "name",
        barPlaceholder: "Nom de l'entreprise",
        errors: []
    }),
    methods: {
        searchTypeChange: function (event) {
            const radioValue = event.target.value;
            this.barPlaceholder = (radioValue === "name") ? "Nom de l'entreprise" : "Numéro de Siret";
        },
        validatorSiret: function (siret) {
            // Validator with Luhn's formula
            // See all process https://fr.wikipedia.org/wiki/Formule_de_Luhn
            const SIRET_LENGTH = 14;
            const isNumericRegex = new RegExp('^\\d+$');
          
            siret = siret.trim();
            if (!isNumericRegex.test(siret) || siret.length !== SIRET_LENGTH) {
                return false;
            }

            let sum = 0;
            let digit = 0;
            for (let i = 0; i < SIRET_LENGTH; i++) {
                if (i % 2 === 0) {
                    digit = parseInt(siret[i]) * 2;
                    digit = digit > 9 ? digit - 9 : digit;
                } else {
                    digit = parseInt(siret[i]);
                }
                sum += digit;
            }

            return !(sum % 10 !== 0);
        },
        processForm: function() {
            this.errors = [];
            if (this.search == "") {
                this.errors.push({"message": "Vous devez entrer une recherche avant de valider."});
            }
            if (this.searchType !== "name" && this.searchType !== "siret") {
                this.errors.push({"message": "Le type de recherche n'est pas valide."});
            }
            if (this.searchType === "siret" && !this.validatorSiret(this.search)) {
                this.errors.push({"message": "Le SIRET saisi n'est pas valide."});
            }
            if (this.errors.length === 0) {
                this.$emit('searchSubmitted', { search: this.search.trim(), searchType: this.searchType.trim() });
            }
        },

    }
};
</script>

<style lang="scss" scoped>
.search {
    text-align: left;

    .search-type {
        margin: 30px 0;
        label {
            margin-right: 20px;
        }
    }

    .search-btn {
        text-align: center;
        .btn {
            width: 100%;
        }
    }

    .error-validation {
        margin: 20px 0;
        color: red;
    }
}
</style>
