<template>
    <div id="app" class="container-fluid">
        <div class="search-block">
            <h2>Rechercher une entreprise par nom ou numéro de SIRET</h2>
            <SearchBar @searchSubmitted="(value) => (formData = value)" />
        </div>
        <ResultsList
            v-if="results && results.companies.length > 0"
            :results="results"
            :key="results.updated_at"
            :nbPerPage="nbPerPage"
            :currentPage="currentPage"
            @updateNbPerPage="(value) => (nbPerPage = value)"
            @changePage="(value) => currentPage = value"
        />
        <div v-if="error" class="alert alert-primary error-message" role="alert">
            {{ error }}
        </div>
    </div>
</template>

<script>
import { getCompanyByName, getCompanyBySiret } from "./api/data-gouv.js";
import SearchBar from "./components/SearchBar.vue";
import ResultsList from "./components/ResultsList.vue";

export default {
    name: "App",
    components: {
        SearchBar,
        ResultsList,
    },
    data: () => ({
        formData: null,
        currentPage: 1,
        nbPerPage: 10,
        results: null,
        error: null
    }),
    watch: {
        formData: function () {
            this.searchCompany();
        },
        currentPage: function () {
            this.searchCompany();
        },
        nbPerPage: function () {
            this.searchCompany();
        },
    },
    methods: {
        searchCompany: function () {
            let apiFunction = null;
            if (this.formData.searchType === "name") {
                apiFunction = getCompanyByName(
                    this.formData.search,
                    this.currentPage,
                    this.nbPerPage
                );
            } else if (this.formData.searchType === "siret") {
                apiFunction = getCompanyBySiret(
                    this.formData.search,
                    this.currentPage,
                    this.nbPerPage
                );
            }

            if (apiFunction) {
                apiFunction
                    .then((data) => {
                        this.results = data;
                        this.error = null;
                    })
                    .catch((error) => {
                        if (error.message) {
                            this.error = error.message;
                        }
                        this.results = {
                            companies: [],
                            total_pages: 0,
                            total_results: 0,
                        };
                    });
            }
        },
    },
};
</script>

<style lang="scss">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 1.6rem;
    }

    .search-block {
        margin-top: 70px;
        min-height: 250px;
        .search {
            margin-top: 50px;
        }
    }

    .results {
        margin-top: 70px;
        flex-grow: 2;
    }

    .error-message {
        min-width: 400px;
        width: 50%;
        margin: 70px auto;
    }
}
</style>
